In [1]:
import pandas as pd

In [2]:
jan = pd.read_csv("Sales_January_2019.csv")
feb = pd.read_csv("Sales_February_2019.csv")
mar = pd.read_csv("Sales_March_2019.csv")
apr = pd.read_csv("Sales_April_2019.csv")
may = pd.read_csv("Sales_May_2019.csv")
jun = pd.read_csv("Sales_June_2019.csv")
jul = pd.read_csv("Sales_July_2019.csv")
aug = pd.read_csv("Sales_August_2019.csv")
sep = pd.read_csv("Sales_September_2019.csv")
octo = pd.read_csv("Sales_October_2019.csv")
nov = pd.read_csv("Sales_November_2019.csv")
dec = pd.read_csv("Sales_December_2019.csv")

In [3]:
feb

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,150502,iPhone,1,700,02/18/19 01:35,"866 Spruce St, Portland, ME 04101"
1,150503,AA Batteries (4-pack),1,3.84,02/13/19 07:24,"18 13th St, San Francisco, CA 94016"
2,150504,27in 4K Gaming Monitor,1,389.99,02/18/19 09:46,"52 6th St, New York City, NY 10001"
3,150505,Lightning Charging Cable,1,14.95,02/02/19 16:47,"129 Cherry St, Atlanta, GA 30301"
4,150506,AA Batteries (4-pack),2,3.84,02/28/19 20:32,"548 Lincoln St, Seattle, WA 98101"
...,...,...,...,...,...,...
12031,162004,Apple Airpods Headphones,1,150,02/12/19 22:02,"227 Church St, San Francisco, CA 94016"
12032,162005,AAA Batteries (4-pack),2,2.99,02/04/19 20:44,"417 Jefferson St, Los Angeles, CA 90001"
12033,162006,USB-C Charging Cable,1,11.95,02/24/19 06:31,"498 8th St, Atlanta, GA 30301"
12034,162007,USB-C Charging Cable,1,11.95,02/24/19 19:09,"715 7th St, Dallas, TX 75001"
12035,162008,27in FHD Monitor,1,149.99,02/26/19 17:15,"677 West St, Los Angeles, CA 90001"

In [4]:
tables = [jan,feb, mar, apr, may, jun, jul, aug, sep, octo, nov, dec]

final_table= pd.concat(tables)

In [5]:
final_table = final_table.drop(final_table[final_table.Product == "Product"].index)
final_table = final_table.drop(final_table[final_table.Product.isnull()].index)

In [6]:
pd.DataFrame({"Unique items":list(final_table["Product"].unique())})

                  Unique items
0                       iPhone
1             Wired Headphones
2             27in FHD Monitor
3       AAA Batteries (4-pack)
4       27in 4K Gaming Monitor
5         USB-C Charging Cable
6   Bose SoundSport Headphones
7     Apple Airpods Headphones
8           Macbook Pro Laptop
9                Flatscreen TV
10             Vareebadd Phone
11       AA Batteries (4-pack)
12                Google Phone
13    Lightning Charging Cable
14                20in Monitor
15      34in Ultrawide Monitor
16             ThinkPad Laptop
17                    LG Dryer
18          LG Washing Machine

In [7]:


final_table.loc[final_table['Product'] == 'iPhone', 'category'] = 'Mobile'  
final_table.loc[final_table['Product'] == 'Lightning Charging Cable', 'category'] = 'Acessories'  
final_table.loc[final_table['Product'] == 'Wired Headphones', 'category'] = 'Headphones'  
final_table.loc[final_table['Product'] == '27in FHD Monitor', 'category'] = 'TV and Screens'  
final_table.loc[final_table['Product'] == 'AAA Batteries (4-pack)', 'category'] = 'Acessories'  
final_table.loc[final_table['Product'] == '27in 4K Gaming Monitor', 'category'] = 'Tv and Screens'  
final_table.loc[final_table['Product'] == 'USB-C Charging Cable', 'category'] = 'Acessories'  
final_table.loc[final_table['Product'] == 'Bose SoundSport Headphones', 'category'] = 'Headphones'  
final_table.loc[final_table['Product'] == 'Apple Airpods Headphones', 'category'] = 'Headphones'  
final_table.loc[final_table['Product'] == 'Macbook Pro Laptop', 'category'] = 'Laptop' 
final_table.loc[final_table['Product'] == 'Flatscreen TV', 'category'] = 'Tv and Screens' 
final_table.loc[final_table['Product'] == 'Vareebadd Phone', 'category'] = 'Mobile' 
final_table.loc[final_table['Product'] == 'AA Batteries (4-pack)', 'category'] = 'Acessories' 
final_table.loc[final_table['Product'] == 'Google Phone', 'category'] = 'Mobile' 
final_table.loc[final_table['Product'] == '20in Monitor', 'category'] = 'Tv and Screens'
final_table.loc[final_table['Product'] == '34in Ultrawide Monitor', 'category'] = 'Tv and Screens'
final_table.loc[final_table['Product'] == 'ThinkPad Laptop', 'category'] = 'Laptop'
final_table.loc[final_table['Product'] == 'LG Dryer', 'category'] = 'Home Appliances'
final_table.loc[final_table['Product'] == 'LG Washing Machine', 'category'] = 'Home Appliances'

In [8]:
final_table

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,category
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",Mobile
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",Headphones
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",TV and Screens
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",Headphones
5,141239,AAA Batteries (4-pack),1,2.99,01/29/19 20:22,"775 Willow St, San Francisco, CA 94016",Acessories
...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",Acessories
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",Acessories
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",Mobile
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",Headphones
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",Headphones

In [9]:
final_table.to_csv("final_sales.csv",index = False)

In [10]:
final_table

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,category
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",Mobile
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",Headphones
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",TV and Screens
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",Headphones
5,141239,AAA Batteries (4-pack),1,2.99,01/29/19 20:22,"775 Willow St, San Francisco, CA 94016",Acessories
...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",Acessories
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",Acessories
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",Mobile
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",Headphones
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",Headphones